h1{font-family: 'Helvetica';font-size: 300%;text-align: center;}
h2{font-family: serif;font-style: normal;font-size: 250%;text-align: center;}
body{font-family: serif;font-style: normal;font-size: 120%;}
p{
  line-height: 25px;
  width: 750px;
margin: auto;}
